// Colors
$green-color: #24D44D;
$primary-color: #151515;
$secondary-color: #000000;
// Text - colors
$text-primary-color: #FFFFFF;
$text-secondary-color: #A2A3A2;
// Card - colors
$card-hover-color: #1A1B1B;


// Heights
$header-height: 100px;
$logo-height: 60px;
$foundNumber: 4rem;

// Button play
$play-btn: 60px;
$play-btn-hover: 65px;